*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

#container{
    width: 850px;
    margin: auto;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);

}

#container a {
    text-decoration: none;
    color: #000; 
}

/* section 1 */

#header{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    width: 50%;
}

.profile img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.profile h2{
    margin-left: 30px;
    margin-top: 5px;
    font-size: xx-large;
    font-weight: 500;
}

/* section 2 */

#myInfo{
    width: 50%;
}

.myInfo-item{
    display: flex;
}

#myInfo h4{
    color: rgb(9, 112, 230);

}

.myInfo-item i{
    display: inline;
    padding: 10px;
    font-size: x-large;
}

/* section 3 */

#infoBio{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

#infoBio h3{
    border-bottom: 2px solid #000;

}

#infoBio h4{
    color: rgb(9, 112, 230);
    margin-top: 20px;
    padding-left: 20px;
}

#infoBio p ,#portfolio a{
    margin-top: 5px;
    padding-left: 20px;

}

#infoBio span{
    margin-right: 13px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(9, 112, 230);
}

#list{
    margin-left: 17px;
    padding:20px;
}

#list span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgb(9, 112, 230);
    border-radius: 50%;
    padding: 6px;
}

#list .white-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color:  rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
}


