*{
    margin: 0;
    padding: 0;
}

.main-container{
    padding: 0 7rem 7rem 7rem;
}
.title{
    display: flex;
    gap: 10px;
}
.title img{
    border-radius: 10px;
    height: 50px;
    width: 50px;
}
.header-1{
    background-color: black;
    color: white;
    display: flex;
    gap: 40px;
    padding: 10px 0 10px 100px;
}

.header-2{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 0 0;
    border-bottom: solid 2px whitesmoke;

}
.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    font-weight: bold;
}

.nav-bar ul li a{
    text-decoration: none;
    color: black;
}
.nav-bar ul li a:hover{
    color: greenyellow;
}

.nav-bar ul li button{
    border-radius: 8px;
    background-color: greenyellow;
    font-weight: 500;
    padding: 5px;
    border: none;
}
.nav-bar ul li button:hover{
    background-color: green;
    color: greenyellow;
}

.container-1{
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 0 0;
}
.content-1{
    width: min(50vw, 500px);
}
.content-1 span{
    background-color: rgb(218, 216, 216);
    padding: 0.5rem;
    border-radius: 10px;
}
.content-1 p{
    display: block;
}

.content-1 button, .container-2 button{
    background-color: greenyellow;
    border-radius: 8px;
    margin: 15px 10px 0 0;
    font-weight: 500;
    padding: 5px 20px;
    border: none;
}
.content-1 button:hover, .container-2 button:hover{
    background-color: green;
    color: greenyellow;
}
.content-1 .green-button{
    background-color: green;
    color: greenyellow;
    border: none;

}
.content-1 .green-button:hover{
    background-color: greenyellow;
    color: green;
    border: none;

}
.content-2 .inner-picture-1 img{
    height: 300px;
    width: 300px;
    border-radius: 15px;
}
.container-2{
    display: flex;
    margin: 4rem 0 0 0;
    justify-content: space-between;

}
.mid-content-1{
    display: flex;
    gap: 30px;
    padding: 1rem ;
    background-color: rgb(3, 86, 3);
    color: white;
    border-radius: 10px;
    width: 60%;
}
.mid-content-1 .inner-picture-2 img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.mid-content-2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mid-content-2 .success-priority{
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
}
.mid-content-2 .success-rate {
    display: flex;
    background-color: greenyellow;
    border-radius: 8px;
    padding: 0.5rem;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: center;
}

